.main--details {
    padding-top: 1em;
    width: 100%;
};

.image {
    width: 10em;
    height: auto;
}

.result-container {
    height: 100%;
    min-height: 40em;
    margin: 10px;
    border: 1px solid #ccc;
}

#tags-panel {
    margin-top: 1em;
}